.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-navbar {
    background-color: #000000; /* black background */
    color: #ffffff; /* white text */
}

main {
    flex: 1;
    padding: 1rem;
}

article.content {
    margin-top: 1rem;
}
