@inherits LayoutComponentBase

<div class="page">
    <header class="top-navbar">
        <NavMenu />
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
